
# ide
cmake-build-debug/

# logs
log 


# build 
build/
lib/
bin/

# cmake 
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake